html {
  background: #fff;
  color: #333;
}

html, button, input, select, textarea {
  font: 16px/1.5 'Trebuchet MS', sans-serif;
  text-align: justify;
}

body {
  margin: 0 auto;
  padding: 0;
}

a { color: #0000ff; }

code, pre {
  color: #444;
  font-family: 'Courier New', 'Courier', monospace;
}

code {
  background: #f8f8f8;
  border: 1px solid #f0f0f0;
  border-radius: 2px;
  padding: 0 4px 1px;
}

pre { overflow-x: auto; }

.offscreen {
  left: -9999px;
  position: absolute;
}

/* -- Header ---------------------------------------------------------------- */
.hd {
  background: #fff;
  border-bottom: 1px solid #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
}

.hd .logo svg {
  margin: 0 0.2em 0 0.4em;
  width: 56px;
  height: auto;
  position: relative;
  top: 15px;
}

.hd .nav ul {
  margin: 0;
  padding: 0;
}

.hd .nav li {
  display: inline-block;
  line-height: 48px;
  margin: 0 0.6em;
}

.hd .nav a, .hd .nav {
  border: 0;
  color: #555;
  padding: 5px 8px;
  text-decoration: none;
  background: transparent;
}

.hd .nav a:hover {
  background: #efefef;
}

.hd .title {
  color: #333;
  font-size: 2em;
  line-height: 48px;
  margin: 0;
  white-space: nowrap;
}

.hd .title a {
  color: inherit;
  text-decoration: none;
}

@media (max-width: 767px) {
  .hd {
    flex-direction: column;
  }

  .hd .logo svg {
    height: 24px;
    width: auto;
    top: 5px;
  }

  .hd .nav,
  .hd .title {
    text-align: center;
  }

  .hd .nav li {
    margin-right: 0.3em;
  }

  .hd .nav a {
    padding: 0;
  }

  .hd .title {
    font-size: 1.4em;
  }
}

/* -- Content --------------------------------------------------------------- */
.bd,
.ft {
  padding: 0 30px;
}

.bd {
  margin: 0 auto;
  max-width: 1140px;
  hyphens: auto;
}

.hero {
  font-size: 3em;
  line-height: 1.5;
  padding: 0 3em;
  text-align: center;
}

.hero .desc {
  font-size: 1rem;
  display: block;
}

.url {
  background: #fbfbfb;
  border: none;
  cursor: text;
  padding-left: 6px;
  padding-right: 6px;
  text-align: center;
  width: 100%;
}

.url-container {
  display: flex;
  border: 1px solid #dfdfdf;
}

.url-action-button {
  text-wrap: nowrap;
  text-align: center;
  border: none;
  border-left: 1px solid #dfdfdf;
  cursor: pointer;
  display: none;
  min-width: 5em;
}

.url-action-button:hover, .url-action-button:disabled {
  background: #f5f5f5;
}

.url-action-button:disabled {
  cursor: not-allowed;
}

.url-action-button:active:not(:disabled) {
  background: #badeff;
}

.url-helper {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3em;
}

.url-helper .column {
  flex: 1;
  padding: 0 1.5em;
}

.url-helper h2 { text-align: center; }

.url-paste {
  flex: 2 100%;
}

#url-form {
  text-align: center;
  justify-content: space-evenly;
}

#url, #url-form .url-action-button {
  font-size: 1.3em;
}

@media (max-width: 975px) {
  .bd,
  .ft,
  .url-helper .column {
    padding: 0 1em;
  }

  .hero { font-size: 1.6em; }
  .url-helper { padding: 0 1em; }
  .url-helper h2 { font-size: 1.4em; }
  #url { font-size: 1em; }
}

@media (max-width: 767px) {
  .hero { font-size: 1.4em; }

  .hero,
  .url,
  .url-helper,
  .url-helper .column,
  #url-form { padding: 0; }

  .url,
  #url { font-size: 0.9em; }

  #url { width: 100%; }

  .url-helper {
    display: block;
  }

  .url-helper h2 {
    font-size: 1.2em;
    margin: 1.5em 0 0.8em;
    text-align: left;
  }

  .url-helper ul {
    padding-left: 1.5em;
  }
}

/* -- Purge------------------------------------------------------------------ */

.purge textarea {
  width: 100%;
  overflow: hidden;
  height: 150px;
  border-width: 1px;
  border-color: #888;
}

.purge input[name=patron] {
  display: inline-block;
  border-width: 1px;
  border-color: #888;
  margin: 0;
}

.purge input[type=submit] {
  display: block;
  margin: 0 auto;
}

.purge .report {
  text-align: left;
}

.purge .wait:before {
  content: "👆";
  margin-right: 5px;
}

.purge .success:before {
  content: "👍";
  margin-right: 5px;
}

.purge .success {
  color: green;
}

.purge .error:before {
  content: "👎";
  margin-right: 5px;
}

.purge .error {
  color: red;
}

/* -- Notice ----------------------------------------------------------------- */

.phishing { text-align: center; }
.phishing .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
.phishing input[type=submit] {
  color: #900;
  cursor: pointer;
}
.phishing .hint {
  color: #888;
  font-size: .85em;
  margin-top: 1.5em;
}

/* -- Misc ------------------------------------------------------------------ */
.invalid {
  background: #FFF7F7;
  border-color: #FFCCCC;
}

.valid {
  background: #F2FFEB;
  border-color: #98f9a0;
}

.hidden {
  display: none;
}

/* -- Footer ---------------------------------------------------------------- */
.ft {
  text-align: left;
  border-top: 1px solid #efefef;
  color: #888;
  font-size: 0.8em;
  margin: 3em 0 0;
}

.ft a {
  color: inherit;
  text-decoration: underline;
}

.question {
  border: 1px solid transparent;
  margin: 1em -1em;
  padding: 0.5em 1em;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}

.question h2 {
  font-size: 1.3em;
  line-height: 1.3;
  margin: 0 0 0.7em;
}

.question h2 a {
  color: inherit;
  text-decoration: none;
}

.question h2 a:hover {
  text-decoration: underline;
}

.question > p:last-child {
  margin-bottom: 0;
}

.question:target {
  background: rgba(255, 255, 0, 0.1);
  border-color: rgba(255, 255, 0, 0.5);
}
